body {
  background: var(--background);
  font-family: 'Arial', sans-serif;
  color: var(--white);
  overflow-x: hidden;
}

header {
  z-index: 3;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  padding: 15px 55px 10px;
  position: fixed;
  width: 100%;
  height: 70px;
  max-width: 100vw;
  transition: 0.5s;
  display: grid;
  grid-template-areas: 'logo nav . user';
}

@media screen and (min-width: 1200px) {
  header {
    grid-template-columns: 1fr 2fr 4fr 1fr;
  }
}

header div {
  display: flex;
  align-items: center;
  max-height: 70%;
}

header div:nth-child(1) {
  grid-area: logo;
}

header div:nth-child(1) img {
  width: 100px;
}

header div:nth-child(2) {
  grid-area: nav;
}

header div:nth-child(3) {
  gap: 20px;
  grid-area: user;
  justify-self: end;
}

header div:nth-child(3) h4 {
  letter-spacing: 1px;
}

header div:nth-child(3) img {
  width: 35px;
  height: 35px;
  border-radius: 3px;
}

header nav a {
  color: var(--light-gray);
  text-decoration: none;
  margin-right: 15px;
  font-size: 15px;
}

header nav a:hover {
  color: var(--white);
}

main {
  background: url('../assets/rickandmorty-billboard.jpg');
  background-size: cover;
  width: 100%;
  height: 105vh;
}

main > div {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 55px;
  gap: 20px;
}

main div img {
  margin-top: -50px;
  width: 485px;
}

main div > p {
  font-size: 20px;
  font-weight: normal;
  max-width: 485px;
}

main div nav {
  display: flex;
  gap: 10px;
}

main div nav button {
  padding: 12px 25px;
  border: none;
  font-size: 18px;
  line-height: 16px;
  font-weight: bold;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
}

main div nav button:hover {
  opacity: 0.8;
}

main div nav button:nth-child(2) {
  background: var(--medium-gray);
  color: var(--white);
}

section {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}

section:nth-of-type(1) {
  margin-top: -90px;
  background: linear-gradient(
    rgba(0, 0, 0, 0),
    var(--background),
    var(--background)
  );
}

section h2 {
  margin-bottom: 15px;
  padding: 0 55px;
  color: var(--light-gray);
  font-size: 20px;
}

section > div {
  display: flex;
}

section > div > div {
  max-width: calc(100vw - 130px);
  display: flex;
  gap: 10px;
  position: relative;
  left: 0;
  transition: 0.4s;
}

section > div > div img {
  width: 240px;
  border-radius: 5px;
}

section button {
  opacity: 0;
  z-index: 1;
  min-width: 55px;
  border: none;
  border-radius: none;
  background: var(--background);
  color: var(--light-gray);
  font-size: 40px;
  cursor: pointer;
  transition: 0.2s;
}

section button:hover {
  opacity: 0.9;
}

footer {
  color: var(--medium-gray);
  font-family: 'Calibri', sans-serif;
  padding: 100px 200px 20px;
}

footer i {
  font-size: 30px;
  margin-right: 20px;
}

footer i:hover {
  cursor: pointer;
}

footer > div:nth-child(2) {
  margin: 10px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 15px;
  line-height: 32px;
}

footer div:nth-child(2) p:hover {
  text-decoration: underline;
  cursor: pointer;
}

footer > p {
  margin: 10px 0;
  font-size: 12px;
}